<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    body {
        margin: 0;
        padding: 0;
    }
    
    div {
        padding: 24px;
    }
    
    p {
        margin: 12px;
    }
</style>
<body>
    <div>
        
    <h2>Reset Password</h2>
    <p>
        Kami telah mengirimkan instruksi reset password ke email Anda.
    </p>
    <p>
        Jika email tersebut terdaftar, Anda akan menerima pesan tersebut segera.
    </p>
    </div>
</body>
</html>